{#
/**
 * @file
 * Template for the identity_login_composite webform element.
 *
 * Available variables:
 * - children: rendered child elements
 * - element: the original render array
 */
#}


<div class="identity-login-composite">
  <div class="row name-fields">
    <div class="name first-name">{{ element.first_name }}</div>
    <div class="name last-name">{{ element.last_name }}</div>
  </div>
  <div class="row contact-fields">
    <div class="contact phone">{{ element.phone }}</div>
    <div class="contact email">{{ element.email }}</div>
  </div>
  <div class="row address-fields">
    <div class="address street">{{ element.street }}</div>
    <div class="address street2">{{ element.street2 }}</div>
    <div class="address postal-code">{{ element.postal_code }}</div>
    <div class="address city">{{ element.city }}</div>
  </div>
  {{ element.cid }}
  {{ element.hash }}
    {{ element.fid }}
    {{ element.idtoken }}

</div>
